.navbar {
    background-color: green;
}

.navbar ul {
    border: none;
}

.navbar ul li {
    margin-right: 2px;
}

.navbar ul li a {
    color: white;
}

.navbar ul li a.active {
    color: green;
    font-weight: 600;
    border-radius: .25rem;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.navbar ul li a:hover {
    border-radius: .25rem;
}